body {
  background: url(../assets/home-2.jpg)
}

.play {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1%;
}

.none {
  visibility: hidden;
}

.d-none {
  display: none;
}

.backs {
  cursor: auto;
  opacity: 0.5;
}

.play__button {
  border: 3px solid #122a54;
  box-shadow: 0 0 15px rgb(123, 205, 199);
  padding: 10px;
  background: #00000036;
  border-radius: 5px;
  color: white;
  font-size: 33px;
  cursor: pointer;
  width: 212px;
  text-align: center;
  position: absolute;
  bottom: 0;
}