body {
  background: url(../assets/home-2.jpg);
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1%;
}

.none {
  visibility: hidden;
}

.d-none {
  display: none;
}

.backs {
  cursor: auto;
  opacity: 0.5;
}

.play__button {
  border: 3px solid #122a54;
  -webkit-box-shadow: 0 0 15px #7bcdc7;
          box-shadow: 0 0 15px #7bcdc7;
  padding: 10px;
  background: #00000036;
  border-radius: 5px;
  color: white;
  font-size: 33px;
  cursor: pointer;
  width: 212px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.play__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  height: 701px;
}

.cards__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.count__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.count__item {
  padding: 7px 25px;
  border-radius: 5px;
  color: white;
  font-size: 27px;
}

.count__item.green {
  background: #adb28f96;
}

.count__item.yellow {
  background: #c9b8869e;
}

.count__item.blue {
  background: #9499c69e;
}

.cards__card-backs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.card-backs__img {
  width: 70%;
}

.cards__card-ups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-ups__img {
  width: 70%;
  -webkit-box-shadow: #7bcdc7 0px 0px 15px;
          box-shadow: #7bcdc7 0px 0px 15px;
}

.play__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 550px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.play__item {
  width: 260px;
  height: 330px;
}

.item__card {
  width: 250px;
  cursor: pointer;
}

.play__levels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 200px;
}

.play__level {
  padding: 10px;
  background: #00000036;
  border-radius: 5px;
  color: white;
  font-size: 33px;
  cursor: pointer;
}

.play__levelss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
