.play__items {
  display: flex;
  gap: 10px;
  width: 550px;
  flex-wrap: wrap;
}

.play__item {
  //width: 253px;
  width: 260px;
  height: 330px;
}

.item__card {
  width: 250px;
  cursor: pointer;
}

.Azathoth {}

.Cthulthu {}

.IogSothoth {}

.ShubNiggurath {}